[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
Django = "==1.11.13"
pkg-resources = "==0.0.0"
pytz = "==2018.4"

[requires]
python_version = "2.7"
